@using ASPDotNetCrud.Utility; 
@{

    uint? communityId = (uint?)ViewData["communityId"];
    List<Community>? communities = (List<Community>?)ViewData["communities"];
    List<Post>? posts = (List<Post>?)ViewData["posts"];

    ViewData["Title"] = "community";

    if (communityId != null)
    {

        if (communityId != null && communityId >= 1 && communityId <= communities.Count)
        {
            // Subtract 1 from the communityId to use it as an index
            uint index = communityId.Value - 1;
            ViewData["communityTitle"] = "welcome to " + communities[(int)index].name;
            ViewData["communityname"] = communities[(int)index].name;
        }
    }
    else
    {
        ViewData["communityTitle"] = "please selected a community to browse";
    }

}

<div class="text-center">

    <div class="row">
        <div class="col">
            @if (!string.IsNullOrEmpty(ViewData["alert"] as string))
            {
                <div class="alert alert-danger mt-3">@ViewData["alert"]</div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="display-6">@ViewData["communityTitle"]</h1>
        </div>

        @if (ViewData["userId"] != null)
        {
            <div class="col-sm-3 m-auto">
                <a class="btn bg-orange t-color-white" href="@Url.Action("NewCommunity", "NewCommunity")">make a new community</a>
            </div>
        }
    </div>


    <div class="row">
        <div class="col">

            <input type="text" id="searchInput" placeholder="Search communities...">
            <div class="bg-grey" id="searchResults"></div>

            @if (communityId != null && ViewData["userId"] != null)
            {
                <a class="btn bg-orange t-color-white  mt-3" href="@Url.Action("MakePost", "MakePost")?pageId=@communityId">make a post on @ViewData["communityname"]</a>
            }

            <script>
                function filterResults() 
                {
                    const input = document.getElementById("searchInput").value.toLowerCase();
                    const resultsDiv = document.getElementById("searchResults");

                    // Clear previous results
                    resultsDiv.innerHTML = "";

                    if (!(input === "")) 
                    {
                        // Send an AJAX request to the controller to get the list of communities
                        var communities = @Html.Raw(Json.Serialize(ViewData["communities"]));

                        const filteredCommunities = communities.filter(community =>
                            community['name'].toLowerCase().includes(input)
                        );


                        filteredCommunities.forEach(result => 
                        {
                            const resultLink = document.createElement("a");
                            resultLink.textContent = result['name'];
                            resultLink.href = `?pageId=${result['id']}`; // Replace with your URL format
                            resultLink.classList.add("community-link"); // Add a CSS class for styling
                            resultLink.classList.add("py-1");
                            resultLink.classList.add("t-color-white");
                            resultLink.classList.add("t-hover-color-orange");
                            resultsDiv.appendChild(resultLink);
                        });

                        console.log(filteredCommunities);
                    } 
                    else 
                    {
                        console.log("input is empty");
                    }
                }
                document.getElementById("searchInput").addEventListener("input", filterResults);

            </script>

        </div>    
    </div>

    <div class="row">

        @if (posts != null)
        {
            foreach (Post post in posts)
            {
                <div class="my-2 bg-grey">
                    <div class="row">
                        <div class="col-md">

                            <div class="row justify-content-center">
                                <div class="col-md-10 text-start">
                                    <h1 class="pl-5 post-title ">@post.title</h1>
                                </div>
                            </div>

                            @if (post.subTitle != null && post.subTitle != "")
                            {
                                <div class="row justify-content-center">
                                    <div class="col-md-8 text-start">
                                        <h3>@post.subTitle</h3>
                                    </div>
                                </div>
                            }

                            @if (post.picture != null && post.picture != "")
                            {
                                <div class="row">
                                    <div class="col">
                                        <img class="post-img" src="~/uploadImages/@post?.picture">
                                    </div>
                                </div>
                            }
                        </div>

                        @if (post?.postUser == (uint?)ViewData["userId"])
                        {
                            <div class="col-md-2 mb-auto mt-3">
                                <form asp-controller="community" asp-action="DeletePost" method="post">
                                    <input type="hidden" name="posId" value="@post?.id">
                                    <button class="btn bg-danger" type="submit">Delete Post</button>
                                </form>
                            </div>
                        }

                    </div>
                </div>
            }
        }

    </div>
</div>


